{% extends "layout.html" %}

{% block title %}
    My Essays
{% endblock %}

{% block main %}

<h1>Here are your essays</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Grade</th>
            <th>Readability Score</th>
           
        </tr>
    </thead>

    <tbody>
        {% for essay in essays %}
            <tr>
                <td><a href="/view_essay/{{ essay["title"] }}">{{ essay["title"] }}</a></td>
                <td>{{ essay["studentgrade"] }}</td>
                <td>{{ essay["essaygrade"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
<table>

{% endblock %}